<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrer Buildup</title>
</head>
<body>
    <h1>Welcome to Carrer BuildUP</h1>
    <img src ="/static/Homejpg.jpg" height ="320" >
    <h3>About us </h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, omnis commodi! Eaque dolor laudantium, quaerat incidunt temporibus optio exercitationem officia ut dolorem corporis, facere magnam laboriosam suscipit sed ex obcaecati alias eum? Nobis, a quas eum nulla odit aut iusto vel inventore excepturi. Recusandae, iure quisquam dignissimos, repellendus dolor temporibus nulla praesentium atque itaque ex aperiam architecto, nihil adipisci excepturi debitis dolore perspiciatis possimus tempore eaque similique. Laborum nulla, porro, possimus rem totam repellendus distinctio, soluta aperiam aut voluptas reprehenderit.</p>
    <h3>Job Opening</h3>
    <p>TODO</p>
    <button>Contact Us</button>
</body>
</html>